@model DemoWeb.Models.Project

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Project</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DonVi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DonVi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NamQDDauTuBD)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NamQDDauTuBD)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoQDDieuChinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoQDDieuChinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhanLoaiDV)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhanLoaiDV)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TKChuDauTu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TKChuDauTu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChuongTrinhMTQG)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChuongTrinhMTQG)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaQHNS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaQHNS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TinhTrang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TinhTrang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenDuAn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenDuAn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HinhThucQuanLy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HinhThucQuanLy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HinhThucDauTu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HinhThucDauTu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NganhKinhTe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NganhKinhTe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NhomDuAn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NhomDuAn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChuDauTu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChuDauTu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BQLDuAn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BQLDuAn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VaiTroChuaGanQuyen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VaiTroChuaGanQuyen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SuDungNguonVon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SuDungNguonVon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.XacNhanDuLieuMoiTuNgay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.XacNhanDuLieuMoiTuNgay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.XacNhanDuLieuMoiDenNgay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.XacNhanDuLieuMoiDenNgay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoaiDuAn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoaiDuAn)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
